<ion-header>
  <ion-toolbar>
    <ion-title>survey-detail</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-card class="ion-padding">
        <ion-row>
          <ion-col text-center>
            <h1>รายการแบบสอบถาม</h1>
          </ion-col>
        </ion-row>
    
        <ion-grid >
    
          <ion-row>
            <ion-segment scrollable>
              <table class="fixed_header">
                <thead>
                  <tr>
                    <th>ลำดับ</th>
                    <th>ชื่อ - สกุล</th>
                    <th>อายุ</th>
                    <th>เบอร์โทร</th>
                    <th>ท่านทราบข่าวโครงการจากสื่อใด</th>
                    <th>อาชีพ</th>
                    <th>รายได้</th>
                    <th>งบประมาณ</th>
                    <th>ปัจจัยที่มีผลต่อการตัดสินใจซื้อ</th>
                    <th>ข้อเสนอแนะเพิ่มเติม</th>
                    <th>โครงการที่สนใจ</th>
                    <th>วันที่ทำแบบสอบถาม</th>
                    <th>ลงชื่อเจ้าหน้าที่ </th>
                   </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>1</td>
                    <td>นายเขียว</td>
                    <td>26-30 ปี</td>
                    <td>0123456789</td>
                    <td>Facebook</td>
                    <td>รัฐวิสาหกิจ</td>
                    <td>20,001 - 30,000</td>
                    <td>2 - 3 ล้านบาท</td>
                    <td>ปัจจัยที่มีผลต่อการตัดสินใจซื้อ</td>
                    <td>-</td>
                    <td>โครงการ Metro Park</td>
                    <td>2/5/19</td>
                    <td>GM 01 นางสาวฝน </td>                   
                   </tr>
                </tbody>
              </table>
            </ion-segment>
          </ion-row>
        </ion-grid>
      </ion-card>

</ion-content>
